/* editor by hyonga 2015.05.27 */
.panel-heading .btn-head {
  position: absolute;
  left: 10px;
  top: 16px;
}

.label-right {
  position: absolute;
  right: 8px;
  top: 8px;
}

.editor_contents {
  border: 1px solid;
  border-color: #BFBFBF;
  background: white;
  color: #292929;
  margin: 8px;
}

.editor_head_title {
  padding-left: 250px;
}

.editor_head_container {
  float: right;
  width: 30%;
}

.editor_control_container {
  float: right;
  /*width: 45%;2015.10.02 kjh*/
}

.editor_controls {
  margin: 4px;
}

.editor_controls_right {
  float: right;
  margin: 4px;
  cursor:pointer;
}

.editor_textarea {
  -moz-appearance: textfield-multiline;
  -webkit-appearance: textarea;
  border: 1px solid gray;
  background-color: white;
  margin: 8px;
  cursor: text;
  border: 1px solid #ccc;
  font: medium -moz-fixed;
  font: -webkit-small-control;
  color: #000000;
  min-height: 25px;
  overflow: auto;
  padding: 2px;
  resize: both;
  -moz-box-shadow: inset 0px 1px 2px #ccc;
  -webkit-box-shadow: inset 0px 1px 2px #ccc;
  box-shadow: inset 0px 1px 2px #ccc;
  width: 90%;
  max-width: 90%;
}

.editor_placeholder {
  outline: 1px dashed #4183C4;
  padding: 80px;
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: -1px;*/;
}


.panel-gray { border-color: #949494; }
.panel-gray .panel-heading { color: #fff; background: #949494; }
.panel-gray .panel-body { border-color: #949494; }
.panel-gray .panel-body td { font-size: 14px;; }

.colorgroup{
  padding:5px;
  border: 1px solid #303030;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;    
}

#markupToolBox {
  padding: 5px;
  margin:8px;
  width:90%;
  border: 1px dashed #909090;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

BODY.dragging {
  CURSOR: move !important;
}

BODY.dragging * {
  CURSOR: move !important;
}

.dragged {
  POSITION: absolute;
  Z-INDEX: 2000;
  TOP: 0px;
  opacity: 0.5;
}

OL.vertical {
  MARGIN: 0px 0px 9px;
  MIN-HEIGHT: 10px;
}

OL.vertical LI {
  BORDER-TOP: #cccccc 1px solid;
  BORDER-RIGHT: #cccccc 1px solid;
  BACKGROUND: rgb(238,238,238);
  BORDER-BOTTOM: #cccccc 1px solid;
  COLOR: #0088cc;
  PADDING-BOTTOM: 5px;
  PADDING-TOP: 5px;
  PADDING-LEFT: 5px;
  MARGIN: 5px;
  BORDER-LEFT: #cccccc 1px solid;
  DISPLAY: block;
  PADDING-RIGHT: 5px;
}

OL {
  LIST-STYLE-TYPE: none;
}

OL I.icon-move {
  CURSOR: pointer;
}

OL LI.highlight {
  BACKGROUND: #333333;
  COLOR: #999999;
}

OL LI.highlight I.icon-move {
  BACKGROUND-IMAGE: url(../img/glyphicons-halflings-white.png);
}

OL.nested_with_switch {
  BORDER-TOP: #eeeeee 1px solid;
  BORDER-RIGHT: #eeeeee 1px solid;
  BORDER-BOTTOM: #eeeeee 1px solid;
  BORDER-LEFT: #eeeeee 1px solid;
}

OL.nested_with_switch OL {
  BORDER-TOP: #eeeeee 1px solid;
  BORDER-RIGHT: #eeeeee 1px solid;
  BORDER-BOTTOM: #eeeeee 1px solid;
  BORDER-LEFT: #eeeeee 1px solid;
}

OL.active.nested_with_switch {
  BORDER-TOP: #333333 1px solid;
  BORDER-RIGHT: #333333 1px solid;
  BORDER-BOTTOM: #333333 1px solid;
  BORDER-LEFT: #333333 1px solid;
}

OL.nested_with_switch OL.active {
  BORDER-TOP: #333333 1px solid;
  BORDER-RIGHT: #333333 1px solid;
  BORDER-BOTTOM: #333333 1px solid;
  BORDER-LEFT: #333333 1px solid;
}

OL.nested_with_switch LI {
  CURSOR: pointer;
}

OL.simple_with_animation LI {
  CURSOR: pointer;
}

OL.serialization LI {
  CURSOR: pointer;
}

OL.default LI {
  CURSOR: pointer;
}

OL.simple_with_animation {
  BORDER-TOP: #999999 1px solid;
  BORDER-RIGHT: #999999 1px solid;
  BORDER-BOTTOM: #999999 1px solid;
  BORDER-LEFT: #999999 1px solid;
}

.switch-container {
  MARGIN-LEFT: auto;
  DISPLAY: block;
  WIDTH: 80px;
  MARGIN-RIGHT: auto;
}

.navbar-sort-container {
  HEIGHT: 200px;
}

OL.nav LI {
  CURSOR: pointer;
}

OL.nav LI A {
  CURSOR: pointer;
}

OL.nav .divider-vertical {
  CURSOR: default;
}

OL.nav LI.dragged {
  BACKGROUND-COLOR: #2c2c2c;
}

OL.nav LI.placeholder {
  POSITION: relative;
}

OL.nav LI.placeholder:before {
  BORDER-TOP: red 5px solid;
  HEIGHT: 0px;
  BORDER-RIGHT: transparent 5px solid;
  BORDER-BOTTOM: transparent 5px;
  POSITION: absolute;
  CONTENT: "";
  MARGIN-LEFT: -5px;
  BORDER-LEFT: transparent 5px solid;
  TOP: -6px;
  WIDTH: 0px;
}

OL.nav OL.dropdown-menu LI.placeholder:before {
  BORDER-TOP: transparent 5px solid;
  BORDER-RIGHT: transparent 5px;
  BORDER-BOTTOM: transparent 5px solid;
  LEFT: 10px;
  BORDER-LEFT: red 5px solid;
  MARGIN-TOP: -5px;
  TOP: 0px;
}

.sorted_table TR {
  CURSOR: pointer;
}

.sorted_table TR.placeholder {
  BORDER-TOP-STYLE: none;
  BORDER-LEFT-STYLE: none;
  BACKGROUND: red;
  BORDER-BOTTOM-STYLE: none;
  POSITION: relative;
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 0px;
  BORDER-RIGHT-STYLE: none;
  PADDING-LEFT: 0px;
  MARGIN: 0px;
  DISPLAY: block;
  PADDING-RIGHT: 0px;
}

.sorted_table TR.placeholder:before {
  BORDER-TOP: transparent 5px solid;
  HEIGHT: 0px;
  BORDER-RIGHT: transparent 5px;
  BORDER-BOTTOM: transparent 5px solid;
  POSITION: absolute;
  CONTENT: "";
  LEFT: -5px;
  BORDER-LEFT: red 5px solid;
  MARGIN-TOP: -5px;
  WIDTH: 0px;
}

.sorted_head TH {
  CURSOR: pointer;
}

.sorted_head TH.placeholder {
  HEIGHT: 0px;
  BACKGROUND: red;
  POSITION: relative;
  PADDING-BOTTOM: 0px;
  PADDING-TOP: 0px;
  PADDING-LEFT: 0px;
  MARGIN: 0px;
  DISPLAY: block;
  PADDING-RIGHT: 0px;
  WIDTH: 0px;
}

.sorted_head TH.placeholder:before {
  BORDER-TOP: red 5px solid;
  HEIGHT: 0px;
  BORDER-RIGHT: transparent 5px solid;
  BORDER-BOTTOM: transparent 5px;
  POSITION: absolute;
  CONTENT: "";
  MARGIN-LEFT: -5px;
  BORDER-LEFT: transparent 5px solid;
  TOP: -6px;
  WIDTH: 0px;
}
