
.body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.page-header {
  margin-top: 1px;
  font-size: 16px;
  color: #eb13f2;
}



 .box {
	 border:1px solid grey;	
	 background-color:#ffffff;
 }

.btn-group button.glow.left {
  border-radius: 4px 0 0 4px;
  border-right: 0;
}

.btn-group button.glow {
  float: left;
  font-size: 11px;
  font-family: "Open sans", Helvetica, Arial;
  color: #93B5C3;
  font-weight: 700;
  padding: 5px 10px;
  line-height: 14px;
  border: 1px solid #d0dde9;
  background: linear-gradient(to bottom, #fefefe 0%, #f7f7f7 100%);
}

.btn-group button.glow.middle {
  border-right: 0;
}
.btn-group button.glow:active, .btn-group button.glow.active {
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  color: #000000;
}

.btn-group button.glow.right {
  border-radius: 0 4px 4px 0;
}


	#apple{position: relative;padding-top:30px;width:550px;height: 300px;overflow: hidden;}
	#apple {height: 300px;overflow: auto;}
	#apple{width: 500px}
